.clear-results-d {
   margin-bottom: 10px;

   @media (max-width: 959px) {
      display: none;
   }
}

.clear-results-m {
   float: right;
   @media (min-width: 960px) {
      display: none;
   }
}

.nav-drawer {
   width: 300px;
}

.nav-link {
   text-decoration: none;
   color: inherit;
}

.dice {
   height: 50px;
   padding: 0 10px;
   display: grid;
   gap: 10px;
   grid-template-columns: 50px 10px 70px 50px auto;

   &-comp {
      display: flex;
      align-items: center;
      justify-content: center;

      input {
         text-align: center;
      }

      input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
         -webkit-appearance: none;
         margin: 0;
      }

      &-info {
         font-size: 20px;
         font-weight: 500;
      }
   }

   &-comp:nth-child(5) {
      justify-content: flex-end;
   }

   // &-comp:nth-child(5) button:last-child {
   //    margin: 0 0 0 10px;
   // }

   &-clickable {
      cursor: pointer;
   }
}

.dice-label {
   grid-column: 2;
}

.type-label {
   grid-column: 4;
}

.mod-label {
   grid-column: 5;
}

.edit-switch {
   grid-column: 6;
   justify-content: flex-end;
}

.result {
   height: 50px;
   display: grid;
   gap: 10px;
   grid-template-columns: auto repeat(6, max-content);
   padding: 0 13px;
   background: #fafafa;

   &-comp {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &-comp:first-child {
      justify-content: flex-start;
      overflow: hidden;

      & span {
         overflow: hidden;
         white-space: nowrap;
         text-overflow: ellipsis;
      }
   }
}
