.dice-row {
   display: grid;
   grid-template-columns: 60px max-content auto 60px;
   height: 60px;

   &-icon,
   &-inputs,
   &-buttons,
   &-remove {
      display: flex;
      align-items: center;
   }

   &-icon {
      grid-column: 1;
      justify-content: center;
   }

   &-inputs {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      grid-column: 2;
   }

   &-buttons {
      grid-column: 3;
      justify-content: center;
      padding-left: 15px;
   }

   &-remove {
      grid-column: 4;
      justify-content: center;
   }
}

.clear-results-d {
   margin-bottom: 10px;

   @media (max-width: 959px) {
      display: none;
   }
}

.clear-results-m {
   float: right;
   @media (min-width: 960px) {
      display: none;
   }
}

@media (max-width: 600px) {
   .dice-row {
      grid-template-columns: 60px calc(100% - 120px) 60px;
      grid-template-rows: 60px 60px;
      height: 120px;

      &-icon {
         grid-column: 1;
         grid-row: span 2;
      }

      &-inputs {
         grid-column: span 2;
      }

      &-buttons {
         justify-content: flex-start;
         grid-column: 2;
         padding: 0;
      }

      &-remove {
         grid-column: 3;
      }
   }
}

.nav-drawer {
   width: 300px;
}

.nav-link {
   text-decoration: none;
   color: inherit;
}

.dice {
   height: 50px;
   display: grid;
   gap: 10px;
   grid-template-columns: 60px 50px 10px 70px 50px auto;

   &-comp {
      display: flex;
      align-items: center;
      justify-content: center;

      input {
         text-align: center;
      }

      input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
         -webkit-appearance: none;
         margin: 0;
      }

      &-info {
         font-size: 20px;
         font-weight: 500;
      }
   }

   &-comp:nth-child(6) {
      justify-content: flex-end;
   }

   &-comp:nth-child(6) button:first-child {
      margin-right: 10px;
   }

   &-clickable {
      cursor: pointer;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
   }

   &-clickable:hover {
      transform: translatex(10px);
   }
}

.dice-label {
   grid-column: 2;
}

.type-label {
   grid-column: 4;
}

.mod-label {
   grid-column: 5;
}

.edit-switch {
   grid-column: 6;
   justify-content: flex-end;
}
